<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1047671029557-rva0miq0in56p432vtjmg0kbrk71m5qj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1047671029557-rva0miq0in56p432vtjmg0kbrk71m5qj</string>
	<key>API_KEY</key>
	<string>AIzaSyCwfLKFEVDmyno1LgfHFjfMPVnCLkRyo1M</string>
	<key>GCM_SENDER_ID</key>
	<string>1047671029557</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sowGood</string>
	<key>PROJECT_ID</key>
	<string>sow-good</string>
	<key>STORAGE_BUCKET</key>
	<string>sow-good.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1047671029557:ios:f064c763a792045686967c</string>
</dict>
</plist>